<body>
  <section class="et-hero-tabs">
    <h1>Free Thinking Coder</h1>
    <h3>learn while being imaginative</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="home">home</a>
      <a class="et-hero-tab" href="blog">blog</a>
      <a class="et-hero-tab" href="projects">projects</a>
      <a class="et-hero-tab" href="media">media</a>
      <a class="et-hero-tab" href="about">about</a>
      <a class="et-hero-tab" href="contact">contact</a>
      <span class="et-hero-tab-slider" style="width: 0px; left: 0px;"></span>
    </div>
  </section>
  