{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width,initial-scale=1.0">
  <meta property="og:title" content="Free Thinking Coder">
  <meta property="og:url" content="https://www.freethinkingcoder.com/">
  <meta property="og:image" content='{{ MEDIA_URL}}main/logo_main.png'>
  <meta property="og:image:type" content="image/png">
  <link rel="stylesheet" href="{% static 'main/css/sticky-slider-nav.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>

<body>
  <section class="et-hero-tabs">
    <div class="text-center">
      <h1>Free Thinking Coder</h1>
      <h3>learn while being imaginative</h3>
    </div>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#tab-settings"><div class="text-center">
        <img src='{{ MEDIA_URL}}main/nav_logo.png' class="img-fluid" height="50" width="50">
    </div></a>
      <a class="et-hero-tab" href="blog/">blog</a>
      <a class="et-hero-tab" href="#tab-projects">projects</a>
      <a class="et-hero-tab" href="#tab-media">media</a>
      <a class="et-hero-tab" href="#tab-other">other</a>
      <a class="et-hero-tab" href="about/">about</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <main class="et-main">
    <section class="et-slide" id="">
      <h1>CODE</h1>
      <h3>"Creativity is the power to connect the seemingly unconnected"</h3>
    </section>
    <section class="et-slide" id="tab-blog">
      <h1>Outside</h1>
      <h3>"Often anxiety is the hand maiden of creativity"</h3>
    </section>
    <section class="et-slide" id="tab-projects">
      <h1>OF</h1>
      <h3>“One day you will wake up and there won't be any more time to do the things you've always wanted. Do it now.”
      </h3>
    </section>
    <section class="et-slide" id="tab-media">
      <h1>THE</h1>
      <h3>“Those who have the privilege to know have the duty to act.”</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1>BOX</h1>
      <h3>"By believing passionately in something that still does not exist, we create it"</h3>
    </section>
    <section class="et-slide" id="tab-about">
    </section>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src="{% static 'main/js/sticky-slider-nav.js' %}"></script>
</body>

</html>